.signups {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .signin-images {
        max-width: 50%;
        margin: 0 auto;
    }
}