@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
  font-family:
    'Poppins',
    sans-serif;
}

:root {
  --red: #D01C28;
  --gray: #5A5959;
  width: fit-content;
}

* {
  margin: 0;
}


.container {
  width: fit-content;
  height: fit-content;
}


main {
  display: block;
}


:root {
  --purple-color: #8d27ae;
  --pink-color: #d9176d;
  --grey-color: #f3f3f3;
  --white-color: #fff;
  --black-color: #010101;
  ;
  --light-black-color: #717171;
  --transition: all 300ms ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.containers {
  width: 90%;
  height: fit-content;
  padding: 70px 200px;


}

.containerss {
  width: 85%;
  height: fit-content;
  padding: 70px 10px;
}

.container-border {
  display: flex;
  padding: 40px 80px;
  margin-left: 350px;
  border-radius: 10px;
  background: #EDEADE;
  align-items: center;


}

.contents {
  margin: 0px 50px;

}


html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 1.7;
  font-family: 'Poppins', sans-serif;
  color: var(--black-color);
  font-family:
    'Poppins',
    sans-serif;
}