.inner-container {
    display: flex;
    padding-top: 50px;
    margin-left: 50px;
    gap: 100px;

}

.inner-container h5 {
    margin-top: 0.3rem;
    margin-left: 4em;
}

.selection-bar {
    display: block;

}

.mid-contents {
    display: flex;
    margin-bottom: 20px;
    gap: 10px;

}

.right-contents {
    display: block;
}