.inner-container {
    display: flex;
    padding: 0 130px;
    padding-top: 100px;
    gap: 200px;

}

.inner-container h5 {
    margin-top: 0.3rem;
    margin-left: 4em;
    padding: 20px 0;
}

.selection-bar {
    display: block;

}


.target {
    font-size: xx-large;
}

.mid-contents {
    display: flex;
    margin-bottom: 20px;
    gap: 10px;

}

.right-contents {
    display: block;
}

.mid-contents h5 {
    font-size: larger;
    padding-right: 20px;
}