.navigation {
    align-items: center;
    height: 90px;
    display: flex;
    gap: 550px;
    padding: 0px 110px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    width: auto;
    background-color: rgb(244, 239, 239);

}

.navigation ul {
    display: inline-flex;
    list-style: none;
    margin-top: 40px;
    gap: 150px;

}

.navigation a {
    text-decoration: none;
    color: black;
}

.navigation a:hover {
    color: rgb(56, 36, 129);
}